In [ ]:
# Series (1-D data-structure)

In [ ]:
print(pd.__version__)

2.0.3

In [ ]:
import pandas as pd
a=[9,8,7,6,5,4]
b=pd.Series(a)
# We can change the data type of b also
c=pd.Series(a,dtype="f")
print(b)
print(type(b))
print(c[0:2])

0    9
1    8
2    7
3    6
4    5
5    4
dtype: int64
<class 'pandas.core.series.Series'>
0    9.0
1    8.0
dtype: float32

In [ ]:
|# indexing
import pandas as pd
a=[9,8,7,6,5,4]
b=pd.Series(a)
print(b)
print()
print(b[2])

0    9
1    8
2    7
3    6
4    5
5    4
dtype: int64

7

In [ ]:
# We can also change the index of elements if not want 0,1,2,3
import pandas as pd
a=[1,2,3,4]
b=pd.Series(a,index=['a','s','d','f'])
print(b)

a    1
s    2
d    3
f    4
dtype: int64

In [ ]:
# we can also give a name to our data
import pandas as pd
a=[1,2,3,4]
b=pd.Series(a,name="hello")
print(b)

0    1
1    2
2    3
3    4
Name: hello, dtype: int64

In [ ]:
# instead of list we can also use other data types like dictionary,tuples etc.
import pandas as pd
a={'name':['alia','mahi'],'class':[3,4],'roll_no':[12,13]}
b=pd.Series(a,name="Students Details")
print(b)
# in the output we get the output as data_type=object which usually comes when we use collective data
# containing all i.e. strings,float,int etc

name       [alia, mahi]
class            [3, 4]
roll_no        [12, 13]
Name: Students Details, dtype: object

In [ ]:
# when we want a single element at all places
import pandas as pd
a=pd.Series(12,index=['a','b','c','d'])
print(a)

a    12
b    12
c    12
d    12
dtype: int64

In [ ]:
# why pandas and not numpy arrays
import pandas as pd
a=pd.Series([1,2,3,4])
b=pd.Series([2,3,4,5,6])
print(a+b)
# in numpy if we try to add two arrays not of same size we get broadcasting error but here we can add and in the output if there is
# no element we get NaN which means no element

0    3.0
1    5.0
2    7.0
3    9.0
4    NaN
dtype: float64

In [ ]:
# Data-Frames (2-D data-structure)

In [ ]:
# making a data-frame
import pandas as pd
a=pd.DataFrame([1,2,3,4])
print(a)
print(type(a))
# in the output 0 represents column name we can give our own required name also

   0
0  1
1  2
2  3
3  4
<class 'pandas.core.frame.DataFrame'>

In [ ]:
import pandas as pd
a=pd.DataFrame({"c":[1,2,3],"d":[4,5,6]})
print(a)
print(type(a))
# if the data in the dictionary is not equal we will get error.....can try

   c  d
0  1  4
1  2  5
2  3  6
<class 'pandas.core.frame.DataFrame'>

In [ ]:
# if I want only one column values
# we can also give index if want
import pandas as pd
a=pd.DataFrame({"c":[1,2,3],"d":[4,5,6]},columns=['d'],index=['q','w','e'])
print(a)

   d
q  4
w  5
e  6

In [ ]:
# if we want any particular data
import pandas as pd
a=pd.DataFrame({"c":[1,2,3],"d":[4,5,6]},index=['q','w','e'])
print(a['c']['w'])

2

In [ ]:
# using lists in lists
import pandas as pd
a=[[1,2,3,4],[5,6,7,8]]
b=pd.DataFrame(a)
print(b)

   0  1  2  3
0  1  2  3  4
1  5  6  7  8

In [ ]:
# we can create a data frame using two series also
import pandas as pd
a={"s":pd.Series([1,2,3,4]),"d":pd.Series([9,8,7,6])}
b=pd.DataFrame(a)
print(b)

   s  d
0  1  9
1  2  8
2  3  7
3  4  6

In [ ]:
# Arithmetic Operators

In [ ]:
# Addition of two data frames
import pandas as pd
a=pd.DataFrame({"A":[1,2,3],"B":[4,5,6]})
print(a)
a["C"]=a["A"]+a["B"]
print(a)

   A  B
0  1  4
1  2  5
2  3  6
   A  B  C
0  1  4  5
1  2  5  7
2  3  6  9

In [ ]:
# Subraction
import pandas as pd
a=pd.DataFrame({"A":[1,2,3],"B":[4,5,6]})
print(a)
a["C"]=a["A"]-a["B"]
print(a)
# Similarly other arithmetic operations can be performed here

   A  B
0  1  4
1  2  5
2  3  6
   A  B  C
0  1  4 -3
1  2  5 -3
2  3  6 -3

In [ ]:
# Logical operations

In [ ]:
import pandas as pd
a=pd.DataFrame({"A":[1,2,3],"B":[4,5,6]})
print(a)
a["C"]=a["A"]<=2

a["D"]=a["B"]>=5
print(a)

   A  B
0  1  4
1  2  5
2  3  6
   A  B      C      D
0  1  4   True  False
1  2  5   True   True
2  3  6  False   True

In [ ]:
# Insertion

In [ ]:
import pandas as pd
a=pd.DataFrame({"A":[1,2,3],"B":[4,5,6]})
print(a)
# while inserting data if data is not equal in number then we will get an error
# the 3 values are written as index_no. , place where to write , what to write
a.insert(2,"C",[2,3,4])
print(a)
# if want to create the duplicate copy of existing column
a.insert(3,"D",a["A"])
print(a)
# if want to copy an existing column with limited data
a["E"]=a["A"][:2]
print(a)

   A  B
0  1  4
1  2  5
2  3  6
   A  B  C
0  1  4  2
1  2  5  3
2  3  6  4
   A  B  C  D
0  1  4  2  1
1  2  5  3  2
2  3  6  4  3
   A  B  C  D    E
0  1  4  2  1  1.0
1  2  5  3  2  2.0
2  3  6  4  3  NaN

In [ ]:
# Deletion (using pop function and del keyword)

In [ ]:
# pop function
import pandas as pd
a=pd.DataFrame({"A":[1,2,3],"B":[4,5,6],"C":[7,8,9]})
print(a)
b=a.pop("B")
print(a)
print(b)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
   A  C
0  1  7
1  2  8
2  3  9
0    4
1    5
2    6
Name: B, dtype: int64

In [ ]:
# del keyword
import pandas as pd
a=pd.DataFrame({"A":[1,2,3],"B":[4,5,6],"C":[7,8,9]})
print(a)
del a["B"]
print(a)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
   A  C
0  1  7
1  2  8
2  3  9

In [ ]:
# CSV Files

In [ ]:
import pandas as pd
a=pd.DataFrame({"A":[1,2,3],"B":[4,5,6]})
print(a)
b=a.to_csv("B.csv",index=False,header=[1,2,3])
print(B)

   A  B
0  1  4
1  2  5
2  3  6

ValueError: Writing 2 cols but got 3 aliases

In [ ]:
# LeetCode Problems

In [ ]:
# Write a solution to select the name and age of the student with student_id = 101

'''
DataFrame students
+-------------+--------+
| Column Name | Type   |
+-------------+--------+
| student_id  | int    |
| name        | object |
| age         | int    |
+-------------+--------+

Input:
+------------+---------+-----+
| student_id | name    | age |
+------------+---------+-----+
| 101        | Ulysses | 13  |
| 53         | William | 10  |
| 128        | Henry   | 6   |
| 3          | Henry   | 11  |
+------------+---------+-----+
'''

import pandas as pd

def selectData(students: pd.DataFrame) -> pd.DataFrame:
    student_info=students[students['student_id']==101][['name','age']]
    return student_info