In [ ]:
# Series

In [ ]:
import pandas as pd
a = pd.Series(data=[1,2,3,4])  # or simply as pd.Series([1,2,3,4])
print(a)
print()
print(a[0])

0    1
1    2
2    3
3    4
dtype: int64

1

In [ ]:
import pandas as pd
a = pd.Series([1,2,3,4],index=['a','d','f','g']) # we can write the index directly also
print(a)

a    1
d    2
f    3
g    4
dtype: int64

In [ ]:
# Sum of Series
import pandas as pd
a = pd.Series([1,2,3,4])
b = pd.Series([4,5,6,7])
print(a+b)
# similarly other arithmetic operations can

0     5
1     7
2     9
3    11
dtype: int64

In [ ]:
# Another Example of Sum
import pandas as pd
a = pd.Series(['a','b','c'],[1,2,3])
print(a)
b = pd.Series(['d','e','f'])
print(b)
print(a+b)
# Those having not the same index print NaN

1    a
2    b
3    c
dtype: object
0    d
1    e
2    f
dtype: object
0    NaN
1     ae
2     bf
3    NaN
dtype: object

In [ ]:
# When a Dictionary is taken instead of a list
import pandas as pd
a = pd.Series({"a":1,"b":2})
print(a)
# Taken the key as index and the value as datapoint

a    1
b    2
dtype: int64

In [ ]:
# Another Example
import pandas as pd
a = pd.Series([print,len])
print(a)

0    <built-in function print>
1      <built-in function len>
dtype: object

In [ ]:
# Grabing Information from Series
import pandas as pd
a = pd.Series(['a','b','c','d'])
print(a)
print(a[2])

0    a
1    b
2    c
3    d
dtype: object
c

In [ ]:
# DataFrame

In [ ]:
# Making a Data Frame
import pandas as pd
import numpy as np
from numpy.random import randn
np.random.seed(501)
A = pd.DataFrame(randn(3,5))
print(A)
print(type(A))

          0         1         2         3         4
0  0.064409 -1.461810  0.732327  1.215830 -1.924833
1 -0.459235  0.660056 -0.520329  1.319795  1.318132
2 -0.762121  1.788256 -0.542495  0.082354 -0.569025
<class 'pandas.core.frame.DataFrame'>

In [ ]:
# Naming Rows and Columns by ourselves
import pandas as pd
import numpy as np
from numpy.random import randn
np.random.seed(709)
a=pd.DataFrame(randn(3,4),["A","B","C"],["W","X","Y","Z"])
print(a)

          W         X         Y         Z
A  0.271990  1.631332 -0.021731 -0.162654
B  1.996819 -1.411155  0.142697 -0.809855
C  0.187481  0.243832 -1.281054 -1.244693

In [ ]:
# If we want to get any particular column or row

In [ ]:
import pandas as pd
import numpy as np
from numpy.random import randn
np.random.seed(23)
A = pd.DataFrame(randn(3,4),['a','b','c'],['d','e','f','g'])
print(A)
print()
print(A['e'])

          d         e         f         g
a  0.666988  0.025813 -0.777619  0.948634
b  0.701672 -1.051082 -0.367548 -1.137460
c -1.322148  1.772258 -0.347459  0.670140

a    0.025813
b   -1.051082
c    1.772258
Name: e, dtype: float64

In [ ]:
# We can also print more than one column at one time
import pandas as pd
import numpy as np
from numpy.random import randn
np.random.seed(23)
A = pd.DataFrame(randn(3,4),['a','b','c'],['d','e','f','g'])
print(A)
print()
print(A[['e','f']])

          d         e         f         g
a  0.666988  0.025813 -0.777619  0.948634
b  0.701672 -1.051082 -0.367548 -1.137460
c -1.322148  1.772258 -0.347459  0.670140

          e         f
a  0.025813 -0.777619
b -1.051082 -0.367548
c  1.772258 -0.347459

In [ ]:
# For accessing rows
import pandas as pd
import numpy as np
from numpy.random import randn
np.random.seed(302)
A = pd.DataFrame(randn(3,4),['a','b','c'],['d','e','f','g'])
print(A)
print(A.loc['a'])
print()
print(type(A.loc['a']))

          d         e         f         g
a  1.090693  0.457297  1.242307 -0.820925
b  2.433195 -1.753825 -1.083163  0.134268
c -0.467629 -0.666393 -0.534992 -0.071840
d    1.090693
e    0.457297
f    1.242307
g   -0.820925
Name: a, dtype: float64

<class 'pandas.core.series.Series'>

In [ ]:
# If we want to make a new column
import pandas as pd
import numpy as np
from numpy.random import randn
np.random.seed()
A = pd.DataFrame(randn(3,5),['A','B','C'],['D','E','F','G','H'])
print(A)
A['new'] = A['D'] + A['H']
print()
print(A)

          D         E         F         G         H
A -1.157103 -0.887258  0.089085 -0.308512 -1.012284
B -0.221436 -0.629938  0.059377  0.033086 -1.500050
C  1.729364 -0.962100 -0.980707 -0.390091 -0.400776

          D         E         F         G         H       new
A -1.157103 -0.887258  0.089085 -0.308512 -1.012284 -2.169387
B -0.221436 -0.629938  0.059377  0.033086 -1.500050 -1.721485
C  1.729364 -0.962100 -0.980707 -0.390091 -0.400776  1.328589

In [ ]:
# for removing or deleting any column + The inplace parameter
import pandas as pd
import numpy as np
from numpy.random import randn
np.random.seed()
A = pd.DataFrame(randn(3,5),['A','B','C'],['D','E','F','G','H'])
print(A)
A['new'] = A['D'] + A['H']
print()
print(A)
print()
B= A.drop('D',axis=1,inplace=True) # for column we have to specify the axis as by default the axis taken is 0
print()
print()
print(A)
C= A.drop('A',axis=0)
print(C)

          D         E         F         G         H
A  1.022708  0.222197  1.177540 -0.279289 -0.290098
B  0.404720 -0.294128  1.496659 -0.327536 -0.226439
C  0.715353  1.061083  0.446354  0.927510  0.040587

          D         E         F         G         H       new
A  1.022708  0.222197  1.177540 -0.279289 -0.290098  0.732611
B  0.404720 -0.294128  1.496659 -0.327536 -0.226439  0.178281
C  0.715353  1.061083  0.446354  0.927510  0.040587  0.755940



          E         F         G         H       new
A  0.222197  1.177540 -0.279289 -0.290098  0.732611
B -0.294128  1.496659 -0.327536 -0.226439  0.178281
C  1.061083  0.446354  0.927510  0.040587  0.755940
          E         F         G         H       new
B -0.294128  1.496659 -0.327536 -0.226439  0.178281
C  1.061083  0.446354  0.927510  0.040587  0.755940

In [ ]:
# the inplace parameter (when we want the changes to remain or not both cases)
# When inplace = True
import pandas as pd
import numpy as np
from numpy.random import randn
np.random.seed()
A = pd.DataFrame(randn(3,5),['A','B','C'],['D','E','F','G','H'])
print(A)
A['new'] = A['D'] + A['H']
print()
print(A)
print()
print(A.drop('new',axis=1,inplace=True)) # for column we have to specify the axis as by default the axis taken is 0
print(A)

          D         E         F         G         H
A  0.694638  0.645445  0.348679  1.144830  0.813443
B  1.050832  0.031304  1.975615 -0.825111  1.364512
C -1.539490  0.038691  0.613253 -1.923931 -0.392505

          D         E         F         G         H       new
A  0.694638  0.645445  0.348679  1.144830  0.813443  1.508081
B  1.050832  0.031304  1.975615 -0.825111  1.364512  2.415344
C -1.539490  0.038691  0.613253 -1.923931 -0.392505 -1.931996

None
          D         E         F         G         H
A  0.694638  0.645445  0.348679  1.144830  0.813443
B  1.050832  0.031304  1.975615 -0.825111  1.364512
C -1.539490  0.038691  0.613253 -1.923931 -0.392505

In [ ]:
import pandas as pd
import numpy as np
from numpy.random import randn
np.random.seed(352)
A = pd.DataFrame(randn(3,5),['A','B','C'],['D','E','F','G','H'])
print(A)
A['new'] = A['D'] + A['H']
print(A)
C= A.drop('new',axis=1,inplace=False)
print(C)
print()
print(A)

          D         E         F         G         H
A  0.172620  1.043568 -0.327230 -0.219900 -0.220106
B  0.287964  0.320568 -0.851416 -0.105339 -0.509963
C  0.254748  1.653968 -0.485787 -2.643664  1.081499
          D         E         F         G         H       new
A  0.172620  1.043568 -0.327230 -0.219900 -0.220106 -0.047487
B  0.287964  0.320568 -0.851416 -0.105339 -0.509963 -0.221999
C  0.254748  1.653968 -0.485787 -2.643664  1.081499  1.336247
          D         E         F         G         H
A  0.172620  1.043568 -0.327230 -0.219900 -0.220106
B  0.287964  0.320568 -0.851416 -0.105339 -0.509963
C  0.254748  1.653968 -0.485787 -2.643664  1.081499

          D         E         F         G         H       new
A  0.172620  1.043568 -0.327230 -0.219900 -0.220106 -0.047487
B  0.287964  0.320568 -0.851416 -0.105339 -0.509963 -0.221999
C  0.254748  1.653968 -0.485787 -2.643664  1.081499  1.336247

In [ ]:
# if we want to access a particular row
import pandas as pd
import numpy as np
from numpy.random import randn
np.random.seed()
A = pd.DataFrame(randn(3,5),['A','B','C'],['D','E','F','G','H'])
print(A)
print()
print(A.loc['C'])
# or
print()
print(A.iloc[2]) # Under iloc we give the numerical value of the row

          D         E         F         G         H
A -0.695886  1.811463 -0.448688 -1.445824  0.984291
B -0.264981  0.600180 -1.151619  0.549343  1.857479
C -1.313149 -1.781108 -0.579498 -0.893579 -0.597661

D   -1.313149
E   -1.781108
F   -0.579498
G   -0.893579
H   -0.597661
Name: C, dtype: float64

D   -1.313149
E   -1.781108
F   -0.579498
G   -0.893579
H   -0.597661
Name: C, dtype: float64

In [ ]:
# if we want the value at particular column and row i.e. a single value
import pandas as pd
import numpy as np
from numpy.random import randn
np.random.seed()
A = pd.DataFrame(randn(3,5),['A','B','C'],['D','E','F','G','H'])
print(A)
print()
print(A.loc['A','D'])

          D         E         F         G         H
A -1.284484 -0.043437 -1.163816 -1.731851 -0.574228
B  1.147191  0.757086 -0.708333 -1.606382  1.041256
C  0.731089 -1.252210  0.301994 -0.411534  1.059004

-1.28448445166849

In [ ]:
# if a subset is to be printed from the dataframe
import pandas as pd
import numpy as np
from numpy.random import randn
np.random.seed()
A = pd.DataFrame(randn(3,5),['A','B','C'],['D','E','F','G','H'])
print(A)
B = A.loc[['A','B'],['D','F']]
print(B)

          D         E         F         G         H
A -0.045650  0.347405 -0.564642 -1.768740 -0.929820
B -2.009829  0.396082 -1.348493  0.811948  0.760261
C -0.111427  0.297976 -1.085838  0.333414 -0.433008
          D         F
A -0.045650 -0.564642
B -2.009829 -1.348493

In [ ]:
# Shape parameter
import pandas as pd
import numpy as np
from numpy.random import randn
np.random.seed()
A = pd.DataFrame(randn(3,5),['A','B','C'],['D','E','F','G','H'])
A.shape

(3, 5)

In [ ]:
# Conditional Selection

In [ ]:
import pandas as pd
import numpy as np
from numpy.random import randn
np.random.seed(23)
A = pd.DataFrame(randn(3,5),['a','b','c'],['q','r','s','t','u'])
print(A)
print(A > 0) # return true where the condition is true and NaN when it is false
# or we can also write the above statement as
print()
bool_df  = A>0
print(bool_df)
print()
print(A[A>0]) # return the values which satisfy the condition and NaN for those that don't
print()
S=A[A['t']>0]['s']
print(S)
print()
# we can also do the above same operation with multiple columns also
T = A[A['t']>0][['s','u']]
print(T)
result=A[A['t']>0]
print(result)
print()
print()
print(result['s'])

          q         r         s         t         u
a  0.666988  0.025813 -0.777619  0.948634  0.701672
b -1.051082 -0.367548 -1.137460 -1.322148  1.772258
c -0.347459  0.670140  0.322272  0.060343 -1.043450
       q      r      s      t      u
a   True   True  False   True   True
b  False  False  False  False   True
c  False   True   True   True  False

       q      r      s      t      u
a   True   True  False   True   True
b  False  False  False  False   True
c  False   True   True   True  False

          q         r         s         t         u
a  0.666988  0.025813       NaN  0.948634  0.701672
b       NaN       NaN       NaN       NaN  1.772258
c       NaN  0.670140  0.322272  0.060343       NaN

a   -0.777619
c    0.322272
Name: s, dtype: float64

          s         u
a -0.777619  0.701672
c  0.322272 -1.043450
          q         r         s         t         u
a  0.666988  0.025813 -0.777619  0.948634  0.701672
c -0.347459  0.670140  0.322272  0.060343 -1.043450


a   -0.777619
c    0.322272
Name: s, dtype: float64

In [ ]:
# Anothr way to perform same operation
"""T = A[A['t']>0][['s','u']]
print(T)"""
# we can also perform the above operation the other way
import pandas as pd
import numpy as np
from numpy.random import randn
np.random.seed(23)
A = pd.DataFrame(randn(3,5),['a','b','c'],['q','r','s','t','u'])
print(A)
bool_A = A>0
series = ['r','s']
bool_series = A[bool_A]
print(bool_series)
print(bool_series[series])

          q         r         s         t         u
a  0.666988  0.025813 -0.777619  0.948634  0.701672
b -1.051082 -0.367548 -1.137460 -1.322148  1.772258
c -0.347459  0.670140  0.322272  0.060343 -1.043450
          q         r         s         t         u
a  0.666988  0.025813       NaN  0.948634  0.701672
b       NaN       NaN       NaN       NaN  1.772258
c       NaN  0.670140  0.322272  0.060343       NaN
          r         s
a  0.025813       NaN
b       NaN       NaN
c  0.670140  0.322272

In [ ]:
# we can also check more than one condition at one time using And and or operator
import pandas as pd
import numpy as np
from numpy.random import randn
np.random.seed(405)
A=pd.DataFrame(randn(3,5),['A','B','C'],['D','E','F','G','H'])
print(A)
print()
B = A[(A['E']>0) & (A['F']>0)] # and operator
print(B)
print()
C = A[(A['E']>0) | (A['F']>0)] # or operator
print(C)

          D         E         F         G         H
A -1.058828  0.962639 -0.596105 -0.821484 -0.790039
B  0.682657  1.103070  1.457715 -0.435065  0.096447
C -1.527553 -0.683933 -0.896006 -0.502820  0.808904

          D        E         F         G         H
B  0.682657  1.10307  1.457715 -0.435065  0.096447

          D         E         F         G         H
A -1.058828  0.962639 -0.596105 -0.821484 -0.790039
B  0.682657  1.103070  1.457715 -0.435065  0.096447

In [ ]:
# We can also reset the index
import pandas as pd
import numpy as np
from numpy.random import randn
np.random.seed(405)
A=pd.DataFrame(randn(3,5),['A','B','C'],['D','E','F','G','H'])
print(A)
print()
print()
print(A.reset_index()) # but this will not affect the actual dataframe
print()
print(A)  # if we want to change the actual index also then inplace=True
print()
print(A.reset_index(inplace=False))

          D         E         F         G         H
A -1.058828  0.962639 -0.596105 -0.821484 -0.790039
B  0.682657  1.103070  1.457715 -0.435065  0.096447
C -1.527553 -0.683933 -0.896006 -0.502820  0.808904


  index         D         E         F         G         H
0     A -1.058828  0.962639 -0.596105 -0.821484 -0.790039
1     B  0.682657  1.103070  1.457715 -0.435065  0.096447
2     C -1.527553 -0.683933 -0.896006 -0.502820  0.808904

          D         E         F         G         H
A -1.058828  0.962639 -0.596105 -0.821484 -0.790039
B  0.682657  1.103070  1.457715 -0.435065  0.096447
C -1.527553 -0.683933 -0.896006 -0.502820  0.808904

  index         D         E         F         G         H
0     A -1.058828  0.962639 -0.596105 -0.821484 -0.790039
1     B  0.682657  1.103070  1.457715 -0.435065  0.096447
2     C -1.527553 -0.683933 -0.896006 -0.502820  0.808904

In [ ]:
# set index
import pandas as pd
import numpy as np
from numpy.random import randn
np.random.seed(405)
A=pd.DataFrame(randn(3,5),['A','B','C'],['D','E','F','G','H'])
print(A)
print()
States = 'na jfh dsnjv '.split()
print(States)
print()
A['new'] = States
print(A)
print()
print(A.set_index('new'))

          D         E         F         G         H
A -1.058828  0.962639 -0.596105 -0.821484 -0.790039
B  0.682657  1.103070  1.457715 -0.435065  0.096447
C -1.527553 -0.683933 -0.896006 -0.502820  0.808904

['na', 'jfh', 'dsnjv']

          D         E         F         G         H    new
A -1.058828  0.962639 -0.596105 -0.821484 -0.790039     na
B  0.682657  1.103070  1.457715 -0.435065  0.096447    jfh
C -1.527553 -0.683933 -0.896006 -0.502820  0.808904  dsnjv

              D         E         F         G         H
new
na    -1.058828  0.962639 -0.596105 -0.821484 -0.790039
jfh    0.682657  1.103070  1.457715 -0.435065  0.096447
dsnjv -1.527553 -0.683933 -0.896006 -0.502820  0.808904

In [ ]:
# Index_hierarchy

In [ ]:
import pandas as pd
import numpy as np
from numpy.random import randn
A = pd.DataFrame(randn(3,5))
print(A)

          0         1         2         3         4
0 -1.009942  0.441736  1.128877 -1.838068 -0.938769
1 -0.201841  1.045371  0.538162  0.812119  0.241106
2 -0.952510 -0.136267  1.267248  0.173634 -1.223255

In [ ]:
Outside=['G1','G1','G1','G2','G2','G2']
Inside=(1,2,3,1,2,3)
print(Outside)
print(Inside)
print()
hier_1=list(zip(Outside,Inside))
print(hier_1)
print()
hier_index=pd.MultiIndex.from_tuples(hier_1)
print(hier_index)
A=pd.DataFrame(randn(6,2),hier_index,("A","B"))
print(A)

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
(1, 2, 3, 1, 2, 3)

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )
             A         B
G1 1 -0.274561  0.170717
   2 -1.314293 -0.558010
   3 -0.124896 -0.446738
G2 1  0.760933  0.639297
   2 -0.509228  0.150114
   3  2.140965  0.343649

In [ ]:
# Calling data from a multi level indexing
outside =["G1","G1","G1","G2","G2","G2"]
inside =[1,2,3,1,2,3]
hier_1=list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_1)
import pandas as pd
import numpy as np
from numpy.random import randn
np.random.seed(302)
A=pd.DataFrame(randn(6,3),hier_index,["A","B","C"])
print(A)
print()
# one single row ie the most outward
B=A.loc["G1"]
print(B)
print()
# for going more inside
C=A.loc["G1"].loc[1]
print(C)
print()
D=A.loc["G1"].loc[1].loc["A"]
print(D)

             A         B         C
G1 1  1.090693  0.457297  1.242307
   2 -0.820925  2.433195 -1.753825
   3 -1.083163  0.134268 -0.467629
G2 1 -0.666393 -0.534992 -0.071840
   2  0.644213  0.516145  0.124934
   3 -1.867127 -0.739112 -0.385037

          A         B         C
1  1.090693  0.457297  1.242307
2 -0.820925  2.433195 -1.753825
3 -1.083163  0.134268 -0.467629

A    1.090693
B    0.457297
C    1.242307
Name: 1, dtype: float64

1.0906928020142175

In [ ]:
# giving names to index
import pandas as pd
import numpy as np
from numpy.random import randn
outside=["G1","G1","G1","G2","G2","G2"]
inside=[1,2,3,1,2,3]
hier_1=list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_1)
A=pd.DataFrame(randn(6,2),hier_index,["A","B"])
print(A)
A.index.names="Groups","Number"
print(A)

             A         B
G1 1 -0.188180  0.398109
   2 -2.615048  0.209170
   3  0.862083 -1.360515
G2 1  0.251754 -0.441157
   2 -0.099936  0.143989
   3 -0.238717 -0.068009
                      A         B
Groups Number
G1     1      -0.188180  0.398109
       2      -2.615048  0.209170
       3       0.862083 -1.360515
G2     1       0.251754 -0.441157
       2      -0.099936  0.143989
       3      -0.238717 -0.068009

In [ ]:
# Cross section
import pandas as pd
import numpy as np
from numpy.random import randn
outside=["G1","G1","G1","G2","G2","G2"]
inside=[1,2,3,1,2,3]
hier_1=list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_1)
A=pd.DataFrame(randn(6,2),hier_index,["A","B"])
print(A)
A.index.names="Groups","Number"
print(A)
print(A.xs("G1"))
A.xs(1,level="Number")

             A         B
G1 1  0.867055  0.350420
   2 -0.487972  1.358266
   3 -0.998113  0.862722
G2 1 -2.611000  1.794214
   2 -0.323552  1.813543
   3  0.320166 -0.118819
                      A         B
Groups Number
G1     1       0.867055  0.350420
       2      -0.487972  1.358266
       3      -0.998113  0.862722
G2     1      -2.611000  1.794214
       2      -0.323552  1.813543
       3       0.320166 -0.118819
               A         B
Number
1       0.867055  0.350420
2      -0.487972  1.358266
3      -0.998113  0.862722

               A         B
Groups
G1      0.867055  0.350420
G2     -2.611000  1.794214

In [ ]:
# Missing Data

In [ ]:
import pandas as pd
dict={"X":[1,2,np.nan],"Y":[4,np.nan,np.nan],"Z":[1,2,3]}
A=pd.DataFrame(dict)
print(A)
print()
print()
B=A.dropna() # dropna function will return only those rows not having nan
print(B)
print()
print()
C=A.dropna(axis=1)
print(C)
print()
print()
# Threshold
D=A.dropna(thresh=2) # thres ki value agr 2 hai toh mtlb atleat 2 values toh essi honi chayiye row ke ander jo nan na ho
print(D)
print()
print()
# We can also fill a value
E=A.fillna(value="Fill value")
print(E)
print()
print()
# If wanna fill different values
F=A["X"].fillna(value=(A["X"].mean()))
print(F)

     X    Y  Z
0  1.0  4.0  1
1  2.0  NaN  2
2  NaN  NaN  3


     X    Y  Z
0  1.0  4.0  1


   Z
0  1
1  2
2  3


     X    Y  Z
0  1.0  4.0  1
1  2.0  NaN  2


            X           Y  Z
0         1.0         4.0  1
1         2.0  Fill value  2
2  Fill value  Fill value  3


0    1.0
1    2.0
2    1.5
Name: X, dtype: float64

In [ ]:
# Group-by (It allows to group by rows based off a column and perform any operation)

In [ ]:
import pandas as pd
dict={"Z":["Google","Google","Microsoft","Microsoft"],"X":[1,2,3,2],"Y":["S","S","T","T"]}
A=pd.DataFrame(dict)
print(A)
print()
print()
B=A.groupby("Z")
print(B)
C=B.mean()
print(C)
print()
print()
D=B.sum()
print(D)
print()
print()
# Similarly we can perform any other operation also
# If we want to get any particular value
E=B.sum().loc["Microsoft"]
print(E)

           Z  X  Y
0     Google  1  S
1     Google  2  S
2  Microsoft  3  T
3  Microsoft  2  T


<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7d724206ce50>
             X
Z
Google     1.5
Microsoft  2.5


           X
Z
Google     3
Microsoft  5


X    5
Name: Microsoft, dtype: int64

<ipython-input-7-cf921be4c20f>:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  C=B.mean()
<ipython-input-7-cf921be4c20f>:13: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  D=B.sum()
<ipython-input-7-cf921be4c20f>:19: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  E=B.sum().loc["Microsoft"]

In [ ]:
# The operation we performed above can be performed in a single line only
import pandas as pd
A=pd.DataFrame({"Fruits":["Apple","Apple","Mango","Mango","Banana","Banana"],"Price":[42,56,79,94,100,1000]})
print(A)
print()
print()
B=A.groupby("Fruits").sum().loc["Mango"]
print(B)

   Fruits  Price
0   Apple     42
1   Apple     56
2   Mango     79
3   Mango     94
4  Banana    100
5  Banana   1000


Price    173
Name: Mango, dtype: int64

In [ ]:
# Someother methods of groupby
import pandas as pd
A=pd.DataFrame({"Fruits":["Apple","Apple","Apple","Mango","Mango","Banana","Banana"],"Price":[42,56,65,79,94,100,1000]})
# Count method to count how many instances are there like for apple there are two and likewise
B=A.groupby("Fruits").count()
print(B)
print()
print()
C=A.groupby("Fruits").max()
print(C)
print()
print()
D=A.groupby("Fruits").min()
print(D)
print()
print()
E=A.groupby("Fruits").describe()
print(E)
print()
print()
F=A.groupby("Fruits").describe().transpose()
print(F)

        Price
Fruits
Apple       3
Banana      2
Mango       2


        Price
Fruits
Apple      65
Banana   1000
Mango      94


        Price
Fruits
Apple      42
Banana    100
Mango      79


       Price
       count        mean         std    min     25%    50%     75%     max
Fruits
Apple    3.0   54.333333   11.590226   42.0   49.00   56.0   60.50    65.0
Banana   2.0  550.000000  636.396103  100.0  325.00  550.0  775.00  1000.0
Mango    2.0   86.500000   10.606602   79.0   82.75   86.5   90.25    94.0


Fruits           Apple       Banana      Mango
Price count   3.000000     2.000000   2.000000
      mean   54.333333   550.000000  86.500000
      std    11.590226   636.396103  10.606602
      min    42.000000   100.000000  79.000000
      25%    49.000000   325.000000  82.750000
      50%    56.000000   550.000000  86.500000
      75%    60.500000   775.000000  90.250000
      max    65.000000  1000.000000  94.000000

In [ ]:
# Merging , joining and concatenating Data-Frames

In [ ]:
#Concatenation
import pandas as pd
A=pd.DataFrame({"Fruits":["Apple","Apple","Mango","Mango","Banana","Banana"],"Price":[42,56,79,94,100,1000]},index=[1,2,3,4,5,6])
B=pd.DataFrame({"Fruits":["Google","Google","Microsoft","Microsoft","Amazon","Amazon"],"Price":[1,2,3,2,5,7]},index=[7,8,9,10,11,12])
print(A)
print()
print()
B=pd.concat([A,B],axis=0)
print(B)
print()
print()
C=pd.concat([A,B],axis=1)
print(C)

   Fruits  Price
1   Apple     42
2   Apple     56
3   Mango     79
4   Mango     94
5  Banana    100
6  Banana   1000


       Fruits  Price
1       Apple     42
2       Apple     56
3       Mango     79
4       Mango     94
5      Banana    100
6      Banana   1000
7      Google      1
8      Google      2
9   Microsoft      3
10  Microsoft      2
11     Amazon      5
12     Amazon      7


    Fruits   Price     Fruits  Price
1    Apple    42.0      Apple     42
2    Apple    56.0      Apple     56
3    Mango    79.0      Mango     79
4    Mango    94.0      Mango     94
5   Banana   100.0     Banana    100
6   Banana  1000.0     Banana   1000
7      NaN     NaN     Google      1
8      NaN     NaN     Google      2
9      NaN     NaN  Microsoft      3
10     NaN     NaN  Microsoft      2
11     NaN     NaN     Amazon      5
12     NaN     NaN     Amazon      7

In [ ]:
# Merging
import pandas as pd
A=pd.DataFrame({"Fruits":["Apple","Apple","Mango","Mango","Banana","Banana"],"Price":[42,56,79,94,100,1000],"key1":["k0","k1","k2","k3","k4","k6"],"key2":["k7","k8","k9","k10","k11","k12"]},index=[1,2,3,4,5,6])
B=pd.DataFrame({"Fruits":["Google","Google","Microsoft","Microsoft","Amazon","Amazon"],"Price":[1,2,3,2,5,7],"key1":["k0","k1","k2","k3","k4","k9"],"key2":["k7","k8","k9","k10","k11","k12"]},index=[7,8,9,10,11,12])
C=pd.merge(A,B,how='inner',on='key1') # how=inner performs operations like intersection
print(C)
print()
print()
D=pd.merge(A,B,how='outer',on='key1') # how=outer performs operations like union
print(D)
print()
print()
E=pd.merge(A,B,how='left',on='key1') # how=left performs opertions like left-right
print(E)
print()
print()
F=pd.merge(A,B,how='right',on='key1') # how=right performs opertions like right-left
print(F)
print()
print()
# We can also specify two key inside on method
G=pd.merge(A,B,on=['key1','key2'])
print(G)

  Fruits_x  Price_x key1 key2_x   Fruits_y  Price_y key2_y
0    Apple       42   k0     k7     Google        1     k7
1    Apple       56   k1     k8     Google        2     k8
2    Mango       79   k2     k9  Microsoft        3     k9
3    Mango       94   k3    k10  Microsoft        2    k10
4   Banana      100   k4    k11     Amazon        5    k11


  Fruits_x  Price_x key1 key2_x   Fruits_y  Price_y key2_y
0    Apple     42.0   k0     k7     Google      1.0     k7
1    Apple     56.0   k1     k8     Google      2.0     k8
2    Mango     79.0   k2     k9  Microsoft      3.0     k9
3    Mango     94.0   k3    k10  Microsoft      2.0    k10
4   Banana    100.0   k4    k11     Amazon      5.0    k11
5   Banana   1000.0   k6    k12        NaN      NaN    NaN
6      NaN      NaN   k9    NaN     Amazon      7.0    k12


  Fruits_x  Price_x key1 key2_x   Fruits_y  Price_y key2_y
0    Apple       42   k0     k7     Google      1.0     k7
1    Apple       56   k1     k8     Google      2.0     k8
2    Mango       79   k2     k9  Microsoft      3.0     k9
3    Mango       94   k3    k10  Microsoft      2.0    k10
4   Banana      100   k4    k11     Amazon      5.0    k11
5   Banana     1000   k6    k12        NaN      NaN    NaN


  Fruits_x  Price_x key1 key2_x   Fruits_y  Price_y key2_y
0    Apple     42.0   k0     k7     Google        1     k7
1    Apple     56.0   k1     k8     Google        2     k8
2    Mango     79.0   k2     k9  Microsoft        3     k9
3    Mango     94.0   k3    k10  Microsoft        2    k10
4   Banana    100.0   k4    k11     Amazon        5    k11
5      NaN      NaN   k9    NaN     Amazon        7    k12


  Fruits_x  Price_x key1 key2   Fruits_y  Price_y
0    Apple       42   k0   k7     Google        1
1    Apple       56   k1   k8     Google        2
2    Mango       79   k2   k9  Microsoft        3
3    Mango       94   k3  k10  Microsoft        2
4   Banana      100   k4  k11     Amazon        5

In [ ]:
# Joining
import pandas as pd
A=pd.DataFrame({"Fruits":["Apple","Apple","Mango","Mango","Banana","Banana"],"Price":[42,56,79,94,100,1000],"key":["k0","k1","k2","k3","k4","k5"]})
B=pd.DataFrame({"Fruits":["Google","Google","Microsoft","Microsoft","Amazon","Amazon"],"Price":[1,2,3,2,5,7],"key":["k0","k1","k2","k3","k4","k6"]})
A.set_index('key',inplace=True)
B.set_index('key',inplace=True)
C=A.join(B,lsuffix='B',rsuffix='A',how='inner',on='key')
print(C)

    FruitsB  PriceB    FruitsA  PriceA
key
k0    Apple      42     Google       1
k1    Apple      56     Google       2
k2    Mango      79  Microsoft       3
k3    Mango      94  Microsoft       2
k4   Banana     100     Amazon       5

In [ ]:
import pandas as pd
A=pd.DataFrame({"Fruits":["Apple","Apple","Mango","Mango","Banana","Banana"],"Price":[42,56,79,94,100,1000],"key1":["k0","k1","k2","k3","k4","k6"],"key2":["k7","k8","k9","k10","k11","k12"]},index=[1,2,3,4,5,6])
B=pd.DataFrame({"Fruits":["Google","Google","Microsoft","Microsoft","Amazon","Amazon"],"Price":[1,2,3,2,5,7],"key1":["k0","k1","k2","k3","k4","k9"],"key2":["k7","k8","k9","k10","k11","k12"]},index=[7,8,9,10,11,12])
C=pd.merge(A,B,how='inner',on=['key1','key2']) # how=inner performs operations like intersection
print(C)

  Fruits_x  Price_x key1 key2   Fruits_y  Price_y
0    Apple       42   k0   k7     Google        1
1    Apple       56   k1   k8     Google        2
2    Mango       79   k2   k9  Microsoft        3
3    Mango       94   k3  k10  Microsoft        2
4   Banana      100   k4  k11     Amazon        5

In [ ]:
# Operations

In [ ]:
import pandas as pd
A=pd.DataFrame({"Col1":[1,2,3,4],"Col2":[44,55,66,44],"Col3":["abc","def","abc","fek"]})
print(A)
print()
print()
B=A["Col2"].unique()  # or A["Col2"].nunique()
print(B)
print()
print()
C=len(A['Col3'].unique())
print(C)
print()
print()
D=A['Col2'].value_counts()
print(D)

   Col1  Col2 Col3
0     1    44  abc
1     2    55  def
2     3    66  abc
3     4    44  fek


[44 55 66]


3


44    2
55    1
66    1
Name: Col2, dtype: int64

In [ ]:
# Conditional Selection

In [ ]:
import pandas as pd
A=pd.DataFrame({"Col1":[1,2,3,4],"Col2":[44,55,66,44],"Col3":["abc","def","abc","fek"]})
print(A)
print()
print()
B=A[A['Col2']>55]
print(B)
print()
print()
# And operator
C=A[(A['Col2']>55) & (A['Col1']>2)]
print(C)
print()
print()
# Or operator
D=A[(A['Col1']>2) | (A['Col2']>55)]
print(D)

   Col1  Col2 Col3
0     1    44  abc
1     2    55  def
2     3    66  abc
3     4    44  fek


   Col1  Col2 Col3
2     3    66  abc


   Col1  Col2 Col3
2     3    66  abc


   Col1  Col2 Col3
2     3    66  abc
3     4    44  fek

In [ ]:
# Apply Method (when we want to apply our own method)
def method(x):
  return x**2
import pandas as pd
A=pd.DataFrame({"Col1":[1,2,3,4],"Col2":[44,55,66,44],"Col3":[3,4,5,6]})
B=A.apply(method)
print(B)

   Col1  Col2  Col3
0     1  1936     9
1     4  3025    16
2     9  4356    25
3    16  1936    36

In [ ]:
# built in functions
A=pd.DataFrame({"a":[1,2,3],"b":["abc","def","ghi"]})
A["b"].apply(len)

0    3
1    3
2    3
Name: b, dtype: int64

In [ ]:
import pandas as pd
A=pd.DataFrame({"a":[1,2,3],"b":[4,5,6]})
B=A.apply(lambda x : x**2)
print(B)

   a   b
0  1  16
1  4  25
2  9  36

In [ ]:
import pandas as pd
A=pd.DataFrame({"a":[1,2,3],"b":[4,5,6]})
B=A.columns
print(B)
C=A.index
print(C)

Index(['a', 'b'], dtype='object')
RangeIndex(start=0, stop=3, step=1)

In [ ]:
import pandas as pd
A=pd.DataFrame({"a":[1,-2,3],"b":[5,4,6]})
B=A.sort_values("b")
print(B)
C=A.isnull()
print(C)

   a  b
1 -2  4
0  1  5
2  3  6
       a      b
0  False  False
1  False  False
2  False  False

In [ ]:
# pivot_table
import pandas as pd
A=pd.DataFrame({"a":[1,2,1,2],"b":["ab","ab","cd","cd"],"c":[12,34,21,34]})
print(A)
print()
print()
print()
print()
B=A.pivot_table(values=["c"],index=["b"],columns=["a"])
print(B)

   a   b   c
0  1  ab  12
1  2  ab  34
2  1  cd  21
3  2  cd  34




     c
a    1   2
b
ab  12  34
cd  21  34