In [2]:
import pandas as pd

In [4]:
df = pd.DataFrame(data={"a": 1, "b": 2}, index=[1,2])

In [5]:
df

   a  b
1  1  2
2  1  2

In [6]:
import numpy as np

In [7]:
arr = np.array([[1, 2, 3, 4], [5, 6, 7, 8]])

In [10]:
for i, j in np.ndenumerate(arr):
    print("Value: "+str(j))
    print("Index: "+str(i))

Value: 1
Index: (0, 0)
Value: 2
Index: (0, 1)
Value: 3
Index: (0, 2)
Value: 4
Index: (0, 3)
Value: 5
Index: (1, 0)
Value: 6
Index: (1, 1)
Value: 7
Index: (1, 2)
Value: 8
Index: (1, 3)

In [11]:
n = np.array([[1,2, 3], [3,4,5]])

In [12]:
df = pd.DataFrame(n)

In [13]:
df

   0  1  2
0  1  2  3
1  3  4  5

In [16]:
df.set_index(df[1])

   0  1  2
1
2  1  2  3
4  3  4  5

In [17]:
df.reset_index()

   index  0  1  2
0      0  1  2  3
1      1  3  4  5

In [ ]:
# merge: two df exactly
# concat: more than two